/* #region body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* #endregion */

/* #region header */
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-page .container {
  justify-content: space-between;
  display: flex;
}
.nav-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item {
}

.nav-active:hover::after {
  content: "";
  display: block;
  border: 1px solid #000;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #404bbf;
  margin-top: 20px;
  margin-bottom: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.address-link:hover,
.address-link:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
/* #endregion */
/* #region section-one */
.section-one {
  background-color: #2e2f42;

  padding: 188px 0;
}
.section-one .container {
  background-image: url(../images/people-office.png);
  width: 1440px;
  height: 600px;
  background-size: cover;
}
.title-section-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  align-content: center;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 48px;
}
.btn-section-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  height: 56px;
  align-content: center;
  display: block;
  border: none;
}
.btn-section-one:hover,
.btn-section-one:focus {
  background-color: #404bbf;
}
/* #endregion */
/* #region section-two */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-section-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-two {
  background-color: #ffffff;
  padding: 120px 0;
}
.list-section-two {
  display: flex;
}
.item-section-two {
  gap: 24px;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}
.item-section-two:last-child {
  margin-right: 0;
}
.item-icon {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region section-three */
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title-section-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-section-three {
  display: flex;
}
.item-section-three {
  gap: 24px;
  margin-right: 24px;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.item-section-three:last-child {
  margin-right: 0;
}
.info-subject {
  padding: 32px 0;
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region section-four */
.section-four {
  padding: 120px 0 120px 0;
  background-color: #ffffff;
}
.title-section-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-section-four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-section-four {
  width: calc((100% - 48px) / 3);
}
.info-subject-four {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-link {
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
/* #endregion */
